<app-navbar></app-navbar>
<!--<div class="container">
  <section id="content">
    <form action="">
      <h1 class="text-info">Login Form</h1>
      <div>
        <input type="text" placeholder="Email" required="" id="username" name="email" [(ngModel)]="username" >
      </div>
      <div>
        <input type="password" placeholder="Password" required="" id="password" name="pwd" [(ngModel)]="password" >
      </div>
      <div>
        <button class="btn btn-md btn-success" (click)="Login()" >Log In</button>
        <a href="#">Lost your password?</a>
        <a href="/sign">Register</a>
      </div>
    </form>
  </section>
</div>-->
<br><br><br><br><br><br>
<div class="d-flex">
  <div class="width-33">

  </div>
  <div class="p-2 width-33" style="border:2px #8c2870 solid;">
    <div class="container align-content-center" style="text-align: center;">
      <section id="content">

        <form action="">
          <br><br>
          <h1 style="color: #8c2870;">Login Form</h1>
          <br><br>
          <div>
            <input class=""style="width: 100%;background: #facced;" type="text" placeholder="Email" required="" id="username" name="email" [(ngModel)]= "username"/>
          </div>

          <div >
            <input class=" " style="width: 100%;background: #facced" type="password" placeholder="Password" required="" id="password" name="pwd" [(ngModel)]="password" />
          </div>

          <div >
            <button class="btn btn-lg" (click)="Login()" style="background: #8c2870;color:white;">Log In</button>
            <br><br>
            <h6>Not a Member?</h6>

            <a href="/sign ">     Register</a>
          </div>
          <br>
        </form>
      </section>
    </div>
  </div>
  <div class="p-2 width-33">

  </div>
</div>



